#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.p-center{
  display: flex;
  justify-content: center;
}
.type{
  margin: 10px;
  padding: 10px;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 10%;
  border: white 1px dashed;
}
.other{
  height: 85vh;
  overflow: auto;
}
.one-row-flex2{
  max-width: 256px;
  display: flex;

}
.one-row-flex{
  display: flex;
  justify-content: space-evenly;
}
